body {
  margin: 0;
  font-family: Arial;
  background-color: #111;
  color: #fff;
}
body #react-root {
  margin: 0;
  padding: 16px;
}
body #react-root h1 {
  color: #FFF;
  margin: 0 0 16px 0;
  font-size: 24px;
}
body #react-root h2 {
  margin: 0 0 16px 0;
}
body #react-root .panel-body {
  background-color: #4791D2;
  border-radius: 4px;
  padding: 16px;
  margin: 16px 0;
}
body #react-root .progress {
  border-width: 1px;
  border-style: solid;
  border-color: #EEE;
  height: 24px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
body #react-root .progress .progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  background-color: #337ab7;
  transition: width 0.6s linear;
}
body #react-root button {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
body #react-root #upload-input {
  display: none;
}
body #react-root .upload-btn {
  color: #ffffff;
  background-color: #F89406;
  border: none;
}
body #react-root .file-item {
  margin: 8px 0;
}
body #react-root .upload-btn:hover,
body #react-root .upload-btn:focus,
body #react-root .upload-btn:active,
body #react-root .upload-btn.active {
  color: #ffffff;
  background-color: #FA8900;
  border: none;
}
