body {
  margin: 0;
  font-family: Arial;
  background-color: #111;
  color: #fff;
}
body #react-root {
  margin: 0;
  padding: 16px;
}
body #react-root h1 {
  color: #FFF;
  margin: 0 0 16px 0;
  font-size: 24px;
}
body #react-root h2 {
  margin: 0 0 16px 0;
}
body #react-root .panel-body {
  background-color: #234;
  border-radius: 4px;
  padding: 8px;
  margin: 16px 0;
}
body #react-root .panel-body.drag {
  background-color: #468;
}
body #react-root button {
  padding: 8px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
body #react-root #upload-input {
  display: none;
}
body #react-root .upload-btn {
  color: #ffffff;
  background-color: #F89406;
  border: none;
}
body #react-root .file-item {
  margin: 4px 0;
  padding: 4px 8px;
  border-radius: 4px;
  height: 20px;
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  clear: both;
  background-color: #37b;
  overflow-x: hidden;
}
body #react-root .file-item .file-text {
  width: 100%;
  display: block;
}
body #react-root .file-item.success {
  background-color: #080;
}
body #react-root .file-item.error {
  background-color: #800;
}
body #react-root .file-item .progress-bar {
  float: left;
  width: 0;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #F89406;
  transition: width 0.6s linear;
  margin-top: -20px;
}
body #react-root .upload-btn:hover,
body #react-root .upload-btn:focus,
body #react-root .upload-btn:active,
body #react-root .upload-btn.active {
  color: #ffffff;
  background-color: #FA8900;
  border: none;
}
